.post-preview {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-preview img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

body {
    background-color: #f5f5f5; /* Change to any color you like */
    /* Or use an image: */
    /* background-image: url('/assets/images/background.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}