.post-preview {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.post-preview img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  object-fit: cover;
}

.wide-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
